@page "/store"
@inject ItemsService Service
@inject ProductService ProductService
@rendermode InteractiveServer

<PageTitle>Store</PageTitle>

<h1>Store</h1>

<div class="container">
    <div class="items-header">
        <p><b>All Items:</b> @List.Count</p>
    </div>
    <div class="items-content">
        <ul class="items-list">
            @foreach(var item in List)
            {
                <Item CurrentItem="@item" SetClickedEvent="@Click"/>
            }
        </ul>
    </div>
</div>

<div class="message" style="@popup">
    <span><b>Added to shopping cart!</b></span>
    <br />
    <a href="/cart">See Shopping Cart</a>
</div>

@code {

    public bool HasClicked;

    public List<ItemData> List = [];

    private string popup = "opacity: 0; transform: translateX(100%);";
    private int popupDuration = 5000;//ms 

    protected override async Task OnInitializedAsync()
    {
        List = await ProductService.LoadItemsFromDB();

        Service.Items = List;
    }

    public async Task Click(bool hasClicked)
    {
        HasClicked = hasClicked;
        popup = "opacity: 1; translateX(0%);";

        await Task.Delay(popupDuration);
        popup = "opacity: 0; transform: translateX(100%);";

        HasClicked = false;
    }
}
