<div class="cart-item">
    <div class="item-content">
        <div class="item-description">
            <div class="image">
                <!--Img-->

            </div>
            <div class="description">
                <div class="title">@Item.Name</div>
                <div class="price">Price: @Item.Price.ToString("F2") CHF</div>
                <div class="category">Category: @Item.Category</div>
                <br />
                <a href="@($"/cart/item/{Item.Id}")">
                    <span class="material-symbols-outlined">
                        info
                    </span>
                </a>

            </div>
        </div>
        <div class="item-actions">
            <div class="actions">
                <input class="count" type="number" value="1" min="1" max="999" />
                <button class="removeButton" @onclick="DeleteItemFromList">Delete</button>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public ItemData Item { get; set; }

    [Parameter]
    public EventCallback<ItemData> DeleteItem { get; set; }

    public async Task DeleteItemFromList()
    {
        await DeleteItem.InvokeAsync(Item);
    }
}
