li {
    width: 250px;
    height: 350px;
    background: white;
    padding: 8px;
    margin: 6px;
    margin-bottom: 12px;
    box-shadow: 2px 2px 4px #505050;
    border-radius: 8px;
    outline: 0;
}

.item-content {
    position: relative;
    width: 100%;
    height: 100%;
}

.item-header {
    text-align: center;
    font-size: 16pt;
}

.item-img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background: grey;
}

.item-description {
    text-decoration: none;
}

.title {
    font-size: 12pt;
}

.sub {
    font-size: 10pt;
}


.actions a {
    padding: 6px;
}
button {
    font-size: 12pt;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
